{
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "server-only",
    "client-only",
    "^path$",
    "^vite$",
    "^@vitejs/(.*)$",
    "^next$",
    "^react$",
    "^react-dom/client$",
    "^react/(.*)$",
    "^globals$",
    "^zod$",
    "^axios$",
    "^date-fns$",
    "^js-cookie$",
    "^react-hook-form$",
    "^use-intl$",
    "^@radix-ui/(.*)$",
    "^@hookform/resolvers/zod$",
    "^@tanstack/react-query$",
    "^@tanstack/react-router$",
    "^@tanstack/react-table$",
    "^@tabler/icons-react$",
    "<THIRD_PARTY_MODULES>",
    "^@/config/(.*)",
    "^@/db(.*)",
    "^@/trpc/(.*)",
    "^@/assets/(.*)",
    "^@/api/(.*)$",
    "^@/stores/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^@/context/(.*)$",
    "^@/hooks/(.*)$",
    "^@/modules/(.*)$",
    "^@/components/layouts/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/errors/(.*)$",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "^[./]"
  ]
}